<html>
<head>
    <title>Previous Orders</title>
    <script>
        var len = <%= rows.length %>
            //JSON.stringify(rows);
        alert(<%=rows[0].startdate%>);
        alert(<%= rows[0].enddate %>);
    </script>
</head>
<body>
all orders
</body>
</html>
