<html>
<head>
    <title>bill page</title>
</head>
<body>
<table align="center"  border="2" cellpadding="10" id="tbl2">
    <tr align="center">randeep ki dukan</tr>
    <tr name="abc">
        <td width="100">orderid</td>
        <td width="100">itemname</td>
        <td width="100">cost</td>
        <td width="50">quantity</td>
        <td width="100">total Cost</td>
    </tr>
    <tr name="abc">
        <td width="100">orderid</td>
        <td width="100">itemname</td>
        <td width="100">cost</td>
        <td width="50">quantity</td>
        <td width="100">total Cost</td>
    </tr>


</table>
</body>
</html>