<html>
<head>
    <title>order</title>
</head>
<body>

<form action="/order/singleorder" method="post">

    orderid: <input type="text" name="orderid" value="<%= id %>">
    <br>
    itemname: <input type="text" name="itemname" >
    <br>
    details: <input type="text" name="detail" >
    <br>
    cost: <input type="text" name="cost" >
    <br>
    quantity: <select name="quantity">
        <option  value="0" selected>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <br>
    <input type="submit">
</form>
</body>
</html>