<html>
<head>
    <title>order</title>
</head>
<body>

<form action="/order" method="post">
    <br>start time:<input type="text" name="startdate">
    <br>end time<input type="text" name="enddate">
    <br>total cost:<input type="text" name="totalcost">
    <input type="submit">
</form>
</body>
</html>